doctype html
html
  head
    title Usuario Eliminado
  body
    h1 Usuario Eliminado
    p #{mensaje}
    p El usuario eliminado tenía los siguientes datos:
    p ID: #{usuario.id}
    p Nombre: #{usuario.nombre}

    a(href="/") Volver a la página principal
