doctype html
html
  head
    title Iniciar Sesi칩n
  body
    h1 Iniciar Sesi칩n
    form(action="/login" method="POST")
      label(for="username") Usuario:
      input(type="text" name="username" required)
      br
      label(for="password") Contrase침a:
      input(type="password" name="password" required)
      br
      button(type="submit") Iniciar Sesi칩n
